h2 {
    font-family: 'Muli';
    font-size: 43px;
    text-align: center;
}

p {
    font-family: 'Roboto';
    font-size: 20px;
}

button {
    background-color: #7142f4;
    color: #fff;
    border-radius: 4px;
    padding: 0px 12px;
    border: 1px #7142f4;
    height: 30px;
    width: 95px;
    float: right;
}

li {
    list-style-type: none;
    font-family: 'Roboto';
    font-size: 20px;
}

/*Meny*/
#meny li {
    display: inline-block;
    padding-right: 15px;
    font-size: 24px;
    font-family: 'Righteous';
    color: black;
    
}

#meny {
    float: center;
    z-index: 10;
    padding-right: 20px;
    margin-top: 10px;
    -webkit-box-shadow: 0 2px 2px #c9ccce;
    box-shadow: 0 2px 2px #c9ccce;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: #fbfcfd;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100px;
}

#meny a:link {
    color: #568ea3;
    text-decoration: none;
}

#meny a:visited {
    color: black;
    text-decoration: none;
}

#meny a:hover {
    color: grey;
    text-decoration: none;
}

#meny a:active {
    color: green;
    text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Experience*/
#experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    z-index: 100;
    padding-bottom: 184px;
    text-align: center;
}

#experience li{
    padding-bottom: 15px;
}

#edu_intern {
    background-color: #ded89b;
    -webkit-box-shadow: 2px 2px 2px 2px #cccdce;
    box-shadow: 2px 2px 2px 2px #cccdce;
    height: 300px;
    justify-content: center;
}

#edu_intern h2{
    text-align: center;
    padding-top: 50px;
}

.edu_grid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    align-self: auto;
}

.edu_grid div {
    text-align: left;
    font-size: 22px;
}

.edu_g1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.edu_g2 {
    grid-column-start: 4;
    grid-column-end: 6;
}

#lang_prog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 184px;
  }

.container_lang {
  width: 30%;
  background-color: #ddd;
}

/*softwareskills*/
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.swe {width: 100%; background-color: #4CAF50;}
.eng {width: 80%; background-color: #2196F3;}
.pol {width: 65%; background-color: #f44336;}
.html {width: 90%; background-color: #808080;}
.CSS {width: 90%; background-color: blue}
.JavaS {width: 50%; background-color: #4CAF50}
.ruby {width: 20%; background-color: #2196F3}

/* Add software logos as row here*/
#software {
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  height: 400px;
  background-color: #ca8b60;
  -webkit-box-shadow: 2px 2px 2px 2px #919699;
  box-shadow: 2px 2px 2px 2px #919699;

}
.soft_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
}


/** slideshow*/
* {box-sizing:border-box}

#interests {
  margin-top: 100px;
  margin-bottom: 190px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*footer*/

#contact {
  margin-top: 100px;
}

#contact h2 {
text-align: center}

.foot_container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
}

.foot_container p {
  padding-left: 15px;
  line-height: 150%;
}