body {
  height: auto;
  width: auto;
}
h2 {
  font-family: "Muli";
  font-size: 43px;
  text-align: center;
}

p {
  font-family: "Roboto";
  font-size: 20px;
}

a {
  font-family: "Roboto";
  font-size: 18px;
}

#about {
  background-color: #7142f4;
  color: #fff;
  border-radius: 4px;
  padding: 0px 12px;
  border: 1px #7142f4;
  height: 30px;
  width: 95px;
}

li {
  list-style-type: none;
  font-family: "Roboto";
  font-size: 20px;
}

/*Meny*/

#navbar {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  display: flex;
  transition: top 0.3s;
}

.dropBttn {
  background-color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropBttn:hover,
.dropBttn:focus {
  background-color: rgb(196, 199, 201);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
}

#about {
  background-color: #7142f4;
  color: #fff;
  border-radius: 4px;
  margin-right: 25px;
  padding: 0 12px;
  border: 1px #7142f4;
  height: 67px;
  width: 71px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Experience*/
#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  z-index: 100;
  padding-bottom: 184px;
  text-align: center;
}

#experience li {
  padding-bottom: 15px;
}

/*education and internship*/
#edu_intern {
  background-color: #ded89b;
  -webkit-box-shadow: 2px 2px 2px 2px #cccdce;
  box-shadow: 2px 2px 2px 2px #cccdce;
  height: 300px;
  justify-content: center;
  width: 100%;
}

#edu_intern h2 {
  text-align: center;
  padding-top: 50px;
}

.edu_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/*.edu {
  padding-left: 20px;
}*/

#lang_prog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-bottom: 184px;
}

.container_lang {
  width: 30%;
  background-color: #ddd;
}

/*softwareskills*/
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.swe {
  width: 100%;
  background-color: #4caf50;
}
.eng {
  width: 80%;
  background-color: #2196f3;
}
.pol {
  width: 65%;
  background-color: #f44336;
}
.html {
  width: 90%;
  background-color: #808080;
}
.CSS {
  width: 90%;
  background-color: blue;
}
.JavaS {
  width: 50%;
  background-color: #4caf50;
}
.ruby {
  width: 20%;
  background-color: #2196f3;
}

/* Add software logos as row here*/
#software {
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  height: 400px;
  background-color: #ca8b60;
  -webkit-box-shadow: 2px 2px 2px 2px #919699;
  box-shadow: 2px 2px 2px 2px #919699;
}
.soft_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/** slideshow*/
* {
  box-sizing: border-box;
}

#interests {
  margin-top: 100px;
  margin-bottom: 190px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*footer*/

#contact {
  margin-top: 100px;
}

#contact h2 {
  text-align: center;
}

.foot_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.foot_container p {
  padding-left: 15px;
  line-height: 150%;
}
